body {
	margin: 0;
	padding: 0;
}

header {
	background-color: #333;
	height: 60px;
	position: relative;
}

.title {
	font-family: "黑体";
	font-size: 30px;
	color: #fff;
	position: absolute;
	top: 15px;
	left: 80px;
	margin: 0;
}

.logo {
	width: 40px;
	height: 40px;
	position: absolute;
	top: 10px;
	left: 20px;
}

.message {
	font-family: Arial, sans-serif;
	font-size: 32px;
	text-align: center;
	margin-top: 400px;
}